*{
  box-sizing: border-box;

}
body{
  background-color: white;
  font-style: oblique;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

header{
  font-size: 100%;
}


main {
  margin: 30px auto 0;
  padding-bottom: 10px;
  width: 960px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
  align-items: flex-start;
}







.fa-utensils{
  font-size: 2rem;
}

.fa-utensils:hover{
  color: purple;
}